* {
    box-sizing: border-box;
}

.article,
.body,
.main-title,
.nav,
.title,
.subtitle,
.shoes-image,
.section-about,
.first-paragraph,
.text,
.nav-list,
.nav-item {
    margin: 0;
    padding: 0;
}

.body {
    background-color:#ffffff;
    color:#ae0f0f;
    font-family: "Arial";
    font-size: 22px;
    color: #2d2d2d;
    text-align: left;
    line-height: 33px;
    
}
.wrapper {
    width: 1770px;
    margin: 0 auto;
}

.article {
    padding: 101px 76px 73px 75px;
}

.content {
    width: 1095px;
}

.section-about {
    padding-top: 50px;
}

.section-about :nth-child(8) {
    margin-bottom: 22px;
}

.main-title{
    font-size: 50px;  
    margin-bottom: 52px;
    line-height: 1.3;
}

.nav {
    padding-top: 50px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-size: 22px;
}

.subtitle {
    font-size: 22px;
    font-weight: normal;
}

.nav-item {
    font-size: 16px;
}

.nav-link {
    text-decoration: none;
    color:#525252;
}

.first-paragraph {
    margin-bottom: 22px;
}
.shoes-img {
    margin-bottom: 50px;
}

.img-shoe-brushes {
    margin-top: 48px;
    margin-bottom: 52px;
}

nav-list :last-child {
    margin-bottom: 0;
}







