@font-face {
    font-family: "Lato";
    src: local("Lato"), local("Lato-Regular"), 
        url("fonts/lato-regular.woff2") format("woff2"),
        url("fonts/lato-regular.woff") format("woff");
        font-weight: 400;
        font-display: auto;
}

@font-face {
    font-family: "Lato";
    src: local("Lato"), local("Lato-Bold"), 
        url("fonts/lato-bold.woff2") format("woff2"),
        url("fonts/lato-bold.woff") format("woff");
        font-weight: 700;
}

* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    background-color:#ffffff;
    color:#ae0f0f;
    font-family: "Lato", "Arial", serif;
    font-size: 22px;
    font-weight: 400;
    color: #2d2d2d;
    text-align: left;
    line-height: 33px; 
}

.wrapper {
    width: 1770px;
    margin: 0 auto;
    padding: 0 76px;
}

.article {
    padding-top: 101px;
    padding-bottom: 73px;
}

.content {
    max-width: 1095px;
}

.section {
    padding-top: 50px;
}

.section__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
}

.section__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: normal;
}

.text {
    margin-top: 0;
}

.text--type--main:not(:last-of-type) {
    margin-bottom: 22px;
}

.text--type--main:last-of-type {
    margin-bottom: 0;
}

.text-type-alt {
    margin-bottom: 0;
}

.article__image--shoes {
    margin-bottom: 50px;
}









